:root {
  --yellow: #FFD369;
  --black: #222831;
  --gray: #393E46;
  --white: #EEEEEE;
  --header1: 1.7rem;
  --header2: 1.5rem;
  --text: 1.3rem;
  --button: 1rem;
}

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

/* Header */

header div {
  margin: 0px;
  padding: 0px;
  background-color: var(--yellow);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header div h1 {
  font-size: var(--header1);
  text-align: center;
  font-style: bold;

  margin: 0;
  padding: 2rem 1.5rem;
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.black-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  
  max-width: 600px;
}

.black-box1,
.black-box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  margin: 1.5rem 0 1.5rem 0;
  background-color: var(--black);
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.you-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.you-container h2 {
  margin: 0;
  padding: 2rem 0 0 0;
  font-style: italic;
  font-weight: 500;
  font-size: var(--header2);
}

.you-container p {
  margin: 0;
  padding: 0.5rem 0 0 0;
  font-size: var(--text);
}

.you-container h1 {
  margin: 0;
  padding: 2rem 0 4rem 0;
  font-style: bold;
  font-size: var(--header1);
}

.computer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.computer-container h2 {
  margin: 0;
  padding: 2rem 0 0 0;
  font-style: italic;
  font-weight: 500;
  font-size: var(--header2);
}

.computer-container p {
  margin: 0;
  padding: 0.5rem 0 0 0;
  font-size: var(--text);
}

.computer-container h1 {
  margin: 0;
  padding: 2rem 0 4rem 0;
  font-style: bold;
  font-size: var(--header1);
}

/* Buttons */

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 2rem 0 0 0;
}

.buttons button {
  width: 8rem;
  height: 2rem;
  margin: 0.5rem 1rem 0.5rem 1rem;
  color: var(--white);
  background-color: var(--gray);
  font-size: var(--button);
  border: 0;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer {
  margin: 0;
  padding: 0;
}

/* footer div {
  position: absolute;
  bottom: 0;
  background-color: var(--gray);
  width: 100vw;
  height: 2rem;
} */